@import "w3.css";

body {
    background: #616161;
    color: #ffffff;
}

.container-scrollable {
    width: 100%;
    height: 600px;
    overflow: scroll;
}

.cursor-pointer {
    cursor: pointer;
}

.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}