@import 'w3.css';

/* typography styles */
@font-face {
    font-family: AvenirNextLTProDemo;
    src: url('./font/AvenirNextLTPro-Demi.otf');
}

body {
    color: #555555;
    font-family: AvenirNextLTProDemo;
}

body, h1, h2, h3, h4, h5, h6, a, p, span {
    font-family: AvenirNextLTProDemo,Arial,sans-serif;
}

/* global util */
.cursor-pointer {
    cursor: pointer;
}

img {
    margin-bottom: -10px;
}

/* navigation styles */
.nav-header {

    .nav-bar {
        z-index: 10;
        background: #fff;
        opacity: 0.99;
        text-transform: uppercase;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    button {
        text-transform: uppercase;
    }

    .w3-button {
        width: 200px;
        padding: 16px;
        cursor: pointer;

        &:hover {
            background-color: transparent !important;
            color: #a3a3a3 !important;
            cursor: pointer;
         }
    }

    .w3-dropdown-content .w3-button {
        border-bottom: 0;

        &:hover {
             border-bottom: 0;
        }
    }

    i.fa-caret-down {
        margin-top: 2px;
        margin-left: 5px;
    }

    .w3-dropdown-content {
        z-index: 9;
    }

    .w3-dropdown-content .w3-button {
        padding: 8px 16px;
        font-size: 13px;
    }

    .w3-dropdown-hover:hover > .w3-button:first-child {
        background-color: #fff;
    }
}




/* layout styles */
.main-content {
    /*height: 95vh;*/
    width: 100%;
    /*overflow: scroll;*/
    padding-top: 64px;
}

.app-content {
    max-width: 960px;
    margin: auto;
}

.top-anchor {
    height: 40px;
}

footer {
    margin-top: 60px;
    margin-bottom: 48px;
}


/* about section */
.about-content {
    text-transform: none;

    h1, h2, h3, h4, h5, h6 {
        font-family: AvenirNextLTProDemo,Arial,sans-serif;
    }

    h1 {
        font-size: 80px;
        letter-spacing: -3px;
        line-height: 90px;
    }

    h2 {
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 45px;
        margin-top: 60px;
    }

    p {
        font-size: 13px;
        padding: 0 20%;
        text-align: left;
    }

    a {
        padding: 0px 7px;
        font-size: 13px;
    }
}



/* gallery styles */

.gallery-link {
    border: 0px;
    background: #000;

    /* animate styles */
    /*overflow: hidden;*/

    img {
        border: 0px;
        opacity: 1.0;
        transition: opacity 0.5s linear;
        margin-bottom: -10px;

        /* animate styles */
        /*transition: transform .5s ease;*/
    }

    /*&:hover img {*/
        /*transform: scale(1.1);*/
    /*}*/
}

.gallery-scroll {
    z-index: 1;
    position: fixed;
    top: 50vh;
    font-size: 28px;
    color: #555555;
    cursor: pointer;

    &:hover {
        color: #a3a3a3;
    }

    i {
        margin-top: 5px;
    }
}

.gallery-scroll-prev {
    left: 10px;
}

.gallery-scroll-next {
    right: 10px;
}

.gallery-paging-controls {
    z-index: 1;
    position: fixed;
    top: 90vh;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


    .w3-button {
        background-color: #555555 !important;
        color: #ffffff;
        cursor: pointer;

        &:hover, &+.active-page-link {
            background-color: #a3a3a3 !important;
            color: #ffffff !important;
         }
    }

    .active-page-link {
        background-color: #a3a3a3 !important;
        color: #ffffff !important;
    }
}



/*  project styles */
.project-section, .project-credits {
    padding: 60px 80px 80px 80px;
    font-size: 14px;

    .project-subheader:not(:first-of-type) {
        margin-top: 60px;
    }
}

.project-header {
    text-align: center;
    font-size: 46px;
    margin-bottom: 40px;
}

.project-subheader {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 14px;
}

.project-credits {
    text-align: center;
    color: #8f8f8f;
    font-size: 11px;
}

.portfolio-title {

    padding: 50px 0;

    .project-header {
        margin-top: 0;
    }

    .project-subheader {
        font-size: 16px;
        margin-bottom: 0;
    }

}


/* creative direction section styles */
.commercial-video:hover, .commercial-video:focus {
    outline: none;
}

.commercial-stills {
    padding: 25px 150px;
}

.commercial-stills-last {
    padding-bottom: 0;
}

.photography-stills {
    padding: 0px 125px 50px 125px;
}

/* design gallery section styles */
.portfolio-gallery {
    padding: 50px 0;

    .project-header {
        margin-top: 0;
    }

    .project-subheader {
        margin-bottom: 0;
    }

}
